.head {
  margin: auto;
  width: 400px;
  padding: 60px;
  .form {
    width: 400px;
    float: left;
  }
  .sig {
    width: 400px;
    padding: 50px;
    display: block;
  }
}

.xml {
  .company {
    font-weight: 700;
  }
  span {
    font-size: 12px;
  }

  .contact {
    p {
      color: gray;
    }
  }
  .hidden {
    display: none;
  }
}
