.head {
  margin: auto;
  width: 400px;
  padding: 60px; }
  .head .form {
    width: 400px;
    float: left; }
  .head .sig {
    width: 400px;
    padding: 50px;
    display: block; }

.xml .company {
  font-weight: 700; }
.xml span {
  font-size: 12px; }
.xml .contact p {
  color: gray; }
.xml .hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
